/*-----------BASES----------*/
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100%;
}


footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  color: white;
  padding: 15px;
  background-color: #f8f9fa;
}
.hachure {
  background: linear-gradient(
    45deg,
    #041424 1%,
    grey 1%,
    grey 49%,
    #041424 49%,
    #041424 51%,
    grey 51%,
    grey 99%,
    #041424 99%
  );
  background-size: 6px 6px;
  background-position: 50px 50px;
}
th {
  width: 12vw;
}

/*-----------/BASES----------*/

/*-----------LAYOUT----------*/
.footer-box {
  color: #041424;
  font-size: 0.9rem;
  line-height: 0.3em;
  margin-right: 2rem;
}

.footer-titre-box {
  font-style: bold;
  font-size: 1.1rem;
}
a .fab {
  color: black;
}
/*-----------index----------*/
.main-index {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 70vh;
  background-image: url("../css/image/batiment.jpg");
  background-size: cover;
}

main {
  min-height: 70vh;
}
/*-----------/index----------*/

/*-----------/LAYOUT----------*/

/*-----------MODULE----------*/
/*-----------reservation.php----------*/
.res-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.res-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: #00f; */
  width: 25%;
  margin: 2rem;
}
.res-titres {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
}

/*-----------/reservation.php----------*/

/*-----------index----------*/

.index-conteneur {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.index-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: cornsilk;

  width: 50%;
  height: 70%;
}

.index-pres {
  padding-top: 2rem;
  height: 80%;
  width: 50%;
}
/*-----------/index----------*/

/*-----------planing--------*/
button {
  margin: 1rem;
  border-radius: 2rem;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------/planing--------*/

/*-----------/MODULE----------*/

/*----------/FORM-----------*/
.login-form {
  width: 340px;
  margin: 50px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}

.btn {
  font-size: 15px;
  min-height: 38px;
  font-weight: bold;
  border-radius: 2rem;
}
table {
  border-collapse: collapse;
}
.title {
  padding: 1.1rem !important;
}
a.btn.btn-primary {
  margin-left: 5rem !important;
}
a.btn.btn-secondary {
  background-color: #f9c132;
  padding: 0.4em !important;
  border: solid 1px #f9c132;
  font-size: 16px;
}

/*-----------/PROFIL----------*/

.Profil {
  display: flex;
  justify-content: space-evenly;
}

.Profil h2 {
  text-align: center;
}

/*-----------/PLANNING----------*/

.table-bordered {
  max-width: 80vw;

  text-align: center;

}
