/*-----------BASES----------*/
body
{
    margin:0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

footer
{
    background-color: #f9f9f9;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.hachure
{
    background: linear-gradient(45deg, #00f 1%, #fff 1%, #fff 49%, #00f 49%, #00f 51%, #fff 51%, #fff 99%, #00f 99%);
    background-size: 6px 6px;
    background-position: 50px 50px;
}
a
{

}
/*-----------/BASES----------*/


/*-----------LAYOUT----------*/
.footer-box
{
    color:#041424;
    font-size: 0.9rem;
    line-height: 0.3em;
    margin-right: 2rem;
}

.footer-titre-box
{
    font-style: bold;
    font-size: 1.1rem;
}
a .fab
{
   position: center;
    color: black;
}
/*-----------index----------*/
.main-index
{   display: flex;
    justify-content: right;
    align-items: center;
    height: 70vh;
    background-image: url('../css/image/batiment.jpg');
    background-size: cover;
 
}
/*-----------/index----------*/



/*-----------/LAYOUT----------*/


/*-----------MODULE----------*/
/*-----------reservation.php----------*/
.res-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.res-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: #00f; */
    width: 25%;
    margin: 2rem;
}
.res-titres{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

/*-----------/reservation.php----------*/

/*-----------index----------*/

.index-conteneur
{

  display: flex;
  align-items: flex-end;
  justify-content: flex-end; 
}

.index-box
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: cornsilk;
    
    width: 50%;
    height: 70%;

}

.index-pres
{   
    padding-top: 2rem;
    height: 80%;
    width: 50%;
}
/*-----------/index----------*/

/*-----------planing--------*/
.planing-vide
{   background-color: darkblue;
    width: 70%;
    
}
/*-----------/planing--------*/

/*-----------/MODULE----------*/





